.CHILD_EDUCATION{
  margin: 20px 0;
}
.CHILD_EDUCATION h3{
  font-size: 23px;
  color: sandybrown;
  text-transform: uppercase;
}
.child_content img{
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.summer_camp_img img{
  width: 100%;
  height: 300px;
}
.summer_content{
  margin-top: -10px;
}
.child_contentt img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.child_content{
  margin-top: -15px;
}