.heroBtn {
  padding: 8px 26px;
  color: #fff;
  background-color: #d35400;
  text-align: center;
  outline: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-left: 0%;
  text-transform: uppercase;
}
.heroBtn:hover {
  /* background-color: #d33400; */
  width: 100%;
}

.SocialsIcons img{
  width: 28px;
  height: 28px;
  line-height: 28px;
  object-fit: cover;
  margin-left: 10px;
}
