.heroBtn {
  padding: 8px 26px;
  color: #fff;
  background-color: #d35400;
  text-align: center;
  outline: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-left: 0%;
}
.heroBtn:hover {
  background-color: #d33400;
}

/* ----- social icons  ------ */
.social_link img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  margin-left: 5px;
  background: none;
}
.social_link .youtube-icons {
  width: 30px;
  height: 28px;
}
.social_link .facebook {
  color: #fff;
  width: 30px;
  height: 27px;
  background-color: #fff;
}

/* .social_link .fa-facebook{
  background-color: #487eb0;
}
.social_link .fa-twitter{
  background-color: #706fd3;
  margin-left: 13px;
}
.social_link .fa-instagram{
  background-color: #cf6a87;
  margin-left: 13px;
}
.social_link .fa-youtube{
  background-color: #e84118;
  margin-left: 13px;

} */
