.addfewfwf{
  display: flex;
  justify-content: center;
  align-items: center;
}
#ch{
  display: none;
}
.content{
  display: none;
}
#ch:checked ~ .content{
  display: block;
}
#ch:checked ~ label{
  display: none;
}
.label_read{
  display: inline;
  color: #fff;
  background-color: #d35400;
  padding: 8px 20px;
  margin-top: 10px;
  cursor: pointer;
}