.tabs_donate{
  padding: 20px 5%;
  background: #a2a2a2;

  /* background: #f6f6f6f6; */
  color: #ffffff;
}
.rretry{
  padding: 30px 10px;
  padding-bottom: 10px;
}

.tab-content{
  padding: 40px 0;
  padding-bottom: 5px;
}
.rwerer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 12%;
}
.tabs_donate a{
  display: block;
  text-decoration: none;
}
.eewrewr{
  margin-left: 30px;
}
.paragraph_or{
  padding: -50px 0;
}
.donate_peple{
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.donate_peple input{
  width: 200px;
  height: 50px;
  padding: 10px;
  color: #000;

}
.donate_peple button{
  padding: 10px 50px;
}
.nav-link{
  color:#000;

}
/* bank_details  */
.bank_details{
  background-color: skyblue;
  padding: 40px;
  text-align: center;
}
.bank_details_content{
  text-align: start;
}
.bank_details_content p{
  font-size: 21px;

}
