.volunteer{
  padding: 30px 5%;
  padding-top: 70px;
  background-color: #eeee;

}
.volunteer_content{
  padding-right: 30px;
}
.volunteer_content h3{
  font-size: 34px;
  color: #e67e22;
}
/* .volunteer_info  */
.volunteer_info{
  background-color: #ffff;
  box-shadow: 0px 0px 12px -6px;
  padding: 20px 25px;
}
.volunteer_info h1{
  font-size: 34px;
  color: #e67e22;
  text-align: center;
  padding-bottom: 20px;
}

.volunteer_button{
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  margin-top: 30px;
}
.volunteer_button .cancelfr button{
  background-color: green;
  margin-left: 30px;
}
.volunteer_form{
  width: 47%;
  height: 80vh;
  background-color: #ffff;
  box-shadow: 10px 0px -6px 6px;
  padding: 30px 40px;
  margin-left: 34px;
  padding-top: 0%;
}
