
.home_founder{
  margin-top: -150px;
}

.addfewfwf{
  display: flex;
  justify-content: center;
  align-items: center;
}
#ch{
  display: none;
}
.content{
  display: none;
}
#ch:checked ~ .content{
  display: block;
}
#ch:checked ~ label{
  display: none;
}
.label_read{
  display: inline;
  color: #fff;
  background-color: #d35400;
  padding: 8px 20px;
  margin-top: 10px;
  cursor: pointer;
}

/* home about section  */
.home_about_sectin{
  margin-top: -140px;
}
.home_about_btn{
  margin-left: -30px;
  margin-top: -10px;
}
.home_about_btn button{
  text-transform: capitalize;
  font-size: 16px;
}
/* .mission_goal */
.mission_goal {
  padding: 30px 5%;
}
.mission_goal h3{
  color: #ffb142;
  font-size: 23px;
  margin-top: 20px;
}
.mission_goal img{
  width: 70px;
  height: 70px;
  object-fit: cover;
}

/* ------------sdg_section---------- */
.sdg_section{
  padding: 20px 5%;
  background-color: #eee;
}
/* cta_section  */

.cta_section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #606c88;
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
  background: linear-gradient(to right, #3f4c6b, #606c88);
  padding: 20px 5%;
}
.title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: #fff;
}

/* youtube video   */
.youtube_thhubanail{
  padding: 0px 5%;
}
/* --------------Our_partner ----- */
.Our_partner{
  padding: 30px 5%;
  background-color: #f2f2f2;
  margin-top: 40px;
  margin-bottom: 30px;
}
.Our_partner img{
  width: 100px;
  height: 100px;
}
.Our_partne .partner_img:hover img{
  transform: rotate(90deg);
}

/* home founder meassgae  */
.founder_home{
  padding: 20px 5%;
  background-color: #eeee;
  padding-bottom: 10px;
}
.founder_home .card .card-body{
  padding: 10px;

}
.founder_home img{
  width: 100%;
  height: 300px;
}
.founder_content h2{
  font-size: 18px;
}
.founder_content h4{
  font-size: 14px;
  padding-bottom: 10px;
  color: #B53471;
  font-weight: 400;
}
.founder_content button{
  margin-left: 0%;
}
.card_content .home_icons{
  margin-top: -10px;
}
.card_content .home_icons img{
  width: 30px;
  height: 30px;
  line-height: 30px;
  object-fit: cover;
  background: none;
}
.card_content .youtube{
  display: none;
}
.card_content .what_apps{
  display: none;
}

/* accodin  */
.accordion{
  background-color: #182C61;
  padding: 30px 5%;
}
.accordion-item{
  margin-bottom: 20px;
}
.faq_readMore{
  background: none;
  color:#d35400 ;
}
.faq_head h2{
  color: #fff;
  font-size: 44px;
  margin-top: 110px;
  font-weight: bold;
}
.accordion-item h2 button{
  margin-left: 0px;
}
/* trail */
.dewfr  a img{
  display: none;
}