

.addfewfwf{
  display: flex;
  justify-content: center;
  align-items: center;
}
#ch{
  display: none;
}
.content{
  display: none;
}
#ch:checked ~ .content{
  display: block;
}
#ch:checked ~ label{
  display: none;
}
.label_read{
  display: inline;
  color: #fff;
  background-color: #d35400;
  padding: 8px 20px;
  margin-top: 10px;
  cursor: pointer;
}

/* .mission_goal */
.mission_goal {
  padding: 30px 5%;
}
.mission_goal i{
  font-size: 52px;
  margin: 10px 0;
}

/* ------------sdg_section---------- */
.sdg_section{
  padding: 20px 5%;
  background-color: #eee;
}

/* --------------Our_partner ----- */
.Our_partner{
  padding: 30px 5%;
  background-color: #f2f2f2;
  margin-top: 40px;
  margin-bottom: 30px;
}
.Our_partner img{
  width: 100px;
  height: 100px;
}
.Our_partne .partner_img:hover img{
  transform: rotate(90deg);
}
/* arard_partner */

.arard_partner{
  background-color: #f2f2f2;
  margin-bottom: 0px;
  margin-top: 20px;
}
/* who ae are  section  */
.whoAeAre_section{
  background-color: #f9f9f9f9;
  padding: 30px 0;
}
.whoAeAre_section img{
  width: 100%;
  height: 400px;
}


/* ---------imapct --------------- */
.impact{
  background-image: linear-gradient(rgba(211,211,211,0.91),rgba(231,191,311,0.71)), url(https://api.nationalngo.net/uploads/50927141215879_2262072324023131_1571373760164921344_n_0ac60f76ba_0ea17fac79.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 80vh;
  position: relative;
}
.impact .heading h1{
  color: #111;
  margin-top: 20px;
  font-weight: 900;
}
.imapct_banner{
  background-color: #f39c12;
  padding: 20px 5%;
  position: absolute;
  top: 25%;
  left: 0%;
  right: 0%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.impact_content{
  text-align: center;
  padding: 30px;
  color: #ffff;
}
.impact_content img{
  width: 90px;
  height: 90px;
  margin-bottom: 15px;
}
.impact_content i{
  font-size: 52px;
}


