/* ---------imapct --------------- */
.impact{
  background-image: url("https://i.pinimg.com/564x/2c/a9/59/2ca959189dbff135cfd9ad04424a7383.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}
.impact .heading h1{
  color: #fff;
  margin-top: 15px;
  font-weight: 900;
}
.imapct_banner{
  background: #25CCF7;
  position: absolute;
  padding: 10px 5%;
  top: 50%;
  transform: translateY(-50%);
  left: 0%;
  right: 0%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  height: 50vh;
  width: 100%;
}
.impact_content{
  text-align: center;
  padding: 30px;
}
.impact_content h2{
  color: #111;
  font-size: 42px;
  font-weight: 900;
  line-height: 25px;
  margin-top: 10px;
  margin-bottom: 18px;
}
.impact_content p{
  font-size: 19px;
  color: #111;
}
.impact_content img{
  width: 90px;
  height: 90px;
  margin-bottom: 15px;
}


/* media query  */
@media (max-width:768px){
   .impact{
     height: 100vh;
  }
  .imapct_banner{
    height: 70vh;
    width: 100%;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 40px;
    row-gap: -5px;
  }
  .impact_content h1{
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    line-height: 25px;
  }
  .impact_content p{
    font-size: 14px;
    color: #111;
  }
  .impact_content img{
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
  }
}

@media (max-width:300px){
  .impact{
    width: 100%;
    height: 190vh;
  }
  .imapct_banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 160vh;
  }
  .impact .heading h1{
    font-size: 22px;
    margin-bottom: 30px;
  }
  .imapct_banner{
    margin-bottom: 10px;
    row-gap: 0px;
  }
  .impact_content p{
    font-size: 18px;
  }
  .impact_content h2{
    color: #111;
    margin-bottom: 15px;
  }
}