.hero_section{
  width: 100%;
  height: 60vh;
  margin-bottom: 50px;
}
.hero_section img{
  width: 100%;
  height: 70vh;
}
/* -----  about_hero_back  ---- */
.about_hero_back{
  height: 49vh;
  width: 100%;
  position: relative;
}
.about_hero_back img{
  height: 49vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0%;
  z-index: -1;
  object-fit: cover;
}
.about_hero_back::after{
  content:  "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 49vh;
  background: rgba(17,40,72,0.62);
  z-index: -1;
}
.about_hero_back {
  color: #ffff;
  padding: 120px 0;
  text-align: center;
}
.about_hero_back  h1{
  font-size: 30px;
  font-weight: 500;
}