.hero_section{
  width: 100%;
  height: 60vh;
  margin-bottom: 50px;
}
.hero_section img{
  width: 100%;
  height: 70vh;
}

.about_hero{
  background-color: #006266;
  width: 100%;
  height: 30vh;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.about_hero h1{
  font-size: 21px;
  text-align: center;
  color: #fff;
  
}
