.hero_section{
  width: 100%;
  height: 60vh;
  margin-bottom: 50px;
}
.hero_section img{
  width: 100%;
  height: 70vh;
}
/* -----  about_hero_back  ---- */
.about_hero_back{
  height: 49vh;
  width: 100%;
  position: relative;
}
.about_hero_back img{
  height: 49vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0%;
  z-index: -1;
  object-fit: cover;
}
.about_hero_back {
  padding: 120px 0;
  text-align: center;
  /* display: grid;
  place-items: center; */
}
.about_hero_back  h1{
  font-size: 38px;
  font-weight: 600;
  color: #ffb142;

}